
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h2>Submit a form</h2>
    <form action="/submit" method="post">
        <label for="Science">Science:</label>
        <input type="text" id="science" name="science" value="0">
        <label for="Maths">Maths:</label>
        <input type="text" id="maths" name="maths" value="0">
        <label for="C">C:</label>
        <input type="text" id="c" name="c" value="0">
        <label for="datascience">Data Science:</label>
        <input type="text" id="datascience" name="datascience" value="0">
        <input type="submit" value="Submit">
    </form>
    <p>If you click the "Submit" button, the form-data will be sent to a page called /submit</p>
</body>
</html>
